<% provide(:title, "About") %>
<h1>About</h1>
<div class="panel panel-default row">
  <div class="panel-body">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h3>SUSHI</h3>
          <p>Sushi is 1300 years old and refers to the finished edible product resulting from an early method. In the 1820’s Hanaya Yohei of Edo (Tokyo) brought a recipe most similar to what we are served today. Nigiri means pieces of fish, shellfish, or fish roe over vinegared rice balls. Maki means vinegared rice with insertions, rolled up in Japanese seaweed. Sashimi means raw fish served chilled, sliced, and arranged without rice.</p>
        </div>
        <div class="item">
          <h3>WASABI</h3>
          <p>Over the centuries, the Japanese have believed that eating grated fresh wasabi with raw fish and other foods helped prevent illness. Scientific evidence today confirms they are correct; Scientists have discovered the isothiocyanates in wasabi are antimicrobial. Wasabi not only kills many bacteria’s associated with fish but also kills some forms of E-coli an Staphylococcus. GARI Means "vinegared ginger." Ginger’s anti toxic properties have an anti viral, anti fungal, anti histamine and anti-bacterial effect which is basically what we are swallowing with anti-biotics, cold and flu tablets, cough mixtures and aspirin.</p>  
        </div>
        <div class="item">
          <h3>HIBACHI COOKING</h3>
          <p>The ART OF JAPANESE HIBACHI COOKING has been performed since the early 1900’s.
            For your dining pleasure TEPANYAKI is proud to present Tepanyaki cooking in Utah.
            Your Personal chef will delight in performing for you the skill and art in which he has trained for years. We hope you enjoy your night at Tepankyaki</p>
        </div>
        <div class="item">
          <h3>TEA</h3>
          <p>Tea, green tea in particular, has been found to possess properties that help lower cholesterol and prevent heart disease, certain cancers, and dental cavities; protect skin from UV damage; fight bacteria and viruses; and may aid weight loss.</p>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>



