<% provide(:title, 'Contact') %>
  <div class="row">
    <div class="col-md-6">
      <div class="panel-group">
        <div class="panel panel-primary">
          <div class="panel-heading">Jordan Landing</div>
          <div class="panel-body">
            <p>7233 So. Plaza Center Dr.</p>
            <p>West Jordan, Utah 84084</p>
            <p>(801)282-9700</p>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Salt Lake City</div>
          <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Clearfield</div>
          <div class="panel-body">Panel Content</div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Lehi</div>
          <div class="panel-body">Panel Content</div>
        </div>
      </div>
    </div>
  </div>

